# Go
/app-repo/bin/
/app-repo/out/
*.exe
*.test
*.out
vendor/

# Docker
docker-compose.override.yml
docker-compose.local.yml

# Helm / GitOps
charts/*.tgz
secrets/
*.crt
*.key
*.pem
kubeconfig
kubeconfig.*

# IDEs / editors
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Misc
.cache/
